<div class="container">
   <!-- Aufgabe 1-->
   <div class="card">
    <div class="card-header">
      <h5>Aufgabe 1</h5>
    </div>
    <div class="card-body">
      <button (click)="loadContent()">Load</button>
      <div *ngFor="let mitarbeiter of mitarbeiterArray">
        {{mitarbeiter.get('login')}}
        {{mitarbeiter.get('repo')}}
        {{mitarbeiter.get('language')}}
      </div>
    </div>
   </div>

  <br>

  <!-- Aufgabe 2-->
  <div class="card">
    <div class="card-header">
      <h5>Aufgabe 2</h5>
    </div>
    <div class="card-body">
      <button (click)="countLanguagesByMitarbeier()">Aufgabe 2</button>
      <div *ngFor="let mitarbeiter of mitarbeierStatistic">
        {{mitarbeiter[0]}}
        <br>
        <div style="white-space: pre-line">{{getContent(mitarbeiter[1])}}</div>
        <br>
      </div>
    </div>
   </div>

  <br>

  <!-- Aufgabe 3-->
  <div class="card">
    <div class="card-header">
      <h5>Aufgabe 3</h5>
    </div>
    <div class="card-body">
      <input type="text" [(ngModel)]="searchValue"/><button (click)="startSearch()">Suchen</button>
      <div *ngFor="let mitarbeiter of mitarbeierFilter">
        {{mitarbeiter}}
        <br>
      </div>
    </div>
   </div>
</div>